* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

@font-face {
	font-family: 'Simplon';
	src: url('/fonts/SimplonMono-Bold.woff2') format('woff2');
}

body {
	overflow: hidden;
	font-family: 'Simplon', monospace;
	background-color: #000;
	color: #fff;
	height: 100vh;
}
